.blogs__container div {
    margin-block: 1rem;
    padding: 1rem;
    background-color: #f0faff;
    border: 2px solid gray;
    border-radius: 7px;
}

.blogs__container div h2 {
    margin-bottom: 0.7rem;
}

.blogs__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}



@media screen and (max-width:800px) {
    .blogs__container {
        grid-template-columns: 1fr;
    }

}