.product__detail {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin-top: 3rem;
}

.product__detail img {
    width: 80%;
    float: center;
    /* border: 2px solid #e70c0f; */
    border-radius: 4px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.product__detail .product__info {
    margin-left: 4rem;
}

.product__info h1:first-child {
    margin-bottom: 0.5rem;
    color: #e70c0f;
}

.product__info p {
    margin-top: 0.5rem;
}

.price {
    font-size: 70px;
}

.quantity {
    font-weight: 600;
    color: rgb(0, 214, 11);
}

.blue__badge {
    margin-block: 1rem;
    font-size: 15px;
    padding: 3px 8px;
    background-color: rgb(226, 239, 255);
    color: rgb(22, 131, 255);
    font-weight: 600;
    border-radius: 8px;
}

.second__btn {
    border: 0px;
    font-weight: 600;
    padding: 9px 10px;
    background-color: #0077ff;
    color: white;
    width: 100%;
    font-weight: 500px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.heading {
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
    border-bottom: 3px solid #2c2c2c;
    background-color: transparent;
    border-radius: 7px;
    color: black !important;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    display: block;
    /* width: 100%; */
}

.dark__button {
    padding: 9px 8px;
    background-color: #242424;
    color: white;
    display: block;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    width: 100%;
}

.update__form {
    background-color: #eeeeee;
    border-radius: 8px;
    padding: 1px 1rem 1rem 1rem;
}

.update__form input {
    margin-block: 0.5rem;
    padding: 9px 10px;
    border-radius: 9px;
    border: 0px;
    width: 100%;
    border: 2px solid black;

}



@media screen and (max-width:800px) {
    .product__detail {
        grid-template-columns: 1fr;
    }

    .product__detail .product__info {
        margin-left: 1rem;
        margin-top: 0.5rem;
    }
}