.product__thumbnail {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.product__thumbnail:hover {}

.fancy__link {
    /* background-color: red;
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
    text-decoration: none;
    font-weight: 700; */
}

.fancy__link:hover {
    /* background-size: 100% 3px; */
}

.update__button {
    width: 100%;
    padding: 10px 15px;
    background-color: #1d90f4;
    border: 0px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
}