.overview__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.overview__info__card,
.overview__chart {
    padding: 0.7rem;
    border: 2px solid gray;
    border-radius: 5px;
    margin-bottom: 0.6rem;

}

.heading__2 {
    border-left: 5px solid black;
    padding-left: 1rem;
    padding-block: 0.4rem;
    margin-block: 0.7rem;
}

.icons {
    font-size: 1.5rem;
}

.overview__info__card p {
    font-size: 22px;
}

.overview__info__card span {
    font-weight: 500;
    color: rgb(97, 97, 97);
}